.Button {
    background-color: rgb(33, 173, 33);
    border-radius: 10px;
    border: none;
    width: 10em;
    height: 2.5em;
    padding: 5px;
    font-size: 25px;
    font-weight:bold;
}

.Button:hover {
    border: 3px solid black;
    background-color:rgb(102, 190, 102);
}